<div class="position-fixed fixed-bottom" style="height: 40px;"></div>
<div class="container-fluid bg-dark text-light text-center" style="height: 80px;">
    <p class="my-auto">&copy; harshit saini</p>
</div>