<div class="container" style="height: calc(100vh - 175px);">

    <div class="row  mt-md-5 mt-5">
        <div class="col-md-12 d-flex justify-content-center">
            <div class="btn-group ">
                <!-- <button class="btn btn-primary">Login</button>
            <button class="btn btn-secondary">SignUp</button> -->

                <a class="btn btn-primary" href="/login">Login</a>
                <a class="btn btn-secondary" href="/signUp">SignUp</a>

            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center mt-3  ">
        <div class="col-md-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="/api/checkLogin">Check Login</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 d-flex justify-content-center">
            <a class="btn btn-primary" href="/api/logOut">logOut</a>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-12 d-flex justify-content-center">
            <div class="badge badge-white-50 text-wrap lead m-1" style="width: 200px;">
                you can view this page only when you are logged in
            </div>
            <a class="btn btn-primary" href="/protected">protected</a>
        </div>
    </div>



</div>